html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle at center,
    #2a2a2a 0%,
    #1a1a1a 60%,
    #111 100%
  );
}




.login-card {
  background: #1b1b1b;
  width: 360px;
  padding: 30px 25px;
  border-radius: 16px;
  box-shadow:
    0 25px 60px rgba(0, 0, 0, 0.6),
    inset 0 0 0 1px rgba(255,255,255,0.04);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
    margin-left: auto;
  margin-right: auto;
}

.login-owl {
  width: 110px;
  margin-bottom: 12px;
    margin-top: -6px;
}

.login-card h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #2a2a2a;
  color: white;
}

.login-card input::placeholder {
  color: #aaa;
}

.login-card button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  background: #4cc2ff;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.login-card button:hover {
  background: #3bb0ea;
}
.register-text {
  margin-top: 22px;
  font-size: 13px;
  color: #888;
}

.register-text span {
  color: #4cc2ff;
  cursor: pointer;
  font-weight: 600;
}

.register-text span:hover {
  text-decoration: underline;
}
