html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* MOR / UZAY ARKA PLAN */
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background:
    linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
    url("https://images.unsplash.com/photo-1519681393784-d120267933ba");

  background-size: cover;
  background-position: center;
}

/* CAM EFEKTLİ KART */
.login-card {
  width: 360px;
  padding: 30px 25px;
  border-radius: 18px;

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  box-shadow: 0 25px 60px rgba(0,0,0,0.45);
  border: 1px solid rgba(255,255,255,0.18);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.login-card.fade {
  transform: scale(0.97);
}

.login-owl {
  width: 100px;
  margin-bottom: 10px;
}

.login-card h2 {
  color: #fff;
  margin-bottom: 18px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: none;
  outline: none;

  background: rgba(0,0,0,0.35);
  color: white;
}

.login-card input::placeholder {
  color: #ddd;
}

.login-card button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;

  background: #4cc2ff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.register-text {
  margin-top: 20px;
  font-size: 13px;
  color: #ddd;
}

.register-text span {
  color: #4cc2ff;
  cursor: pointer;
  font-weight: 600;
}

.login-card.flip {
  transform: rotateY(180deg);
}
/* 3D FLIP ALT YAPI */
.login-container {
  perspective: 1200px;
}

/* kart zaten var, sadece şunları EKLE */
.login-card {
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

/* kayıt ol durumunda kart döner */
.login-card.flip {
  transform: rotateY(180deg);
}

/* içeriklerin aynalanmasını engeller */
.card-face {
  backface-visibility: hidden;
  width: 100%;
}

/* arka yüz (register) */
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}
